.mainContainer {
  border: 1px solid VAR(--main-green-color);
  border-radius: 12px;
}

.mainContainer p {
  padding: 9px 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
