.activeContainer {
  position: absolute;
  margin-left: 706px;
  margin-top: 48px;
  width: 180px;
  border: 1px solid rgb(240, 240, 242);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.noActiveContainer {
  display: none;
}

.mainContent {
  padding: 12px 25px 12px 16px;
}

.mainContent li {
  list-style-type: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.mainContent li:first-child {
  margin-bottom: 12px;
}

.mainContent li:last-child {
  margin-bottom: 0;
}
