.noActive {
  display: none;
}

.active {
  width: 170px;
  position: absolute;
  padding: 12px 16px;
  border: 1px solid rgb(240, 240, 242);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.active li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
  margin-bottom: 12px;
}

.active li:last-child {
  margin-bottom: 0px;
}
