.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(114, 178, 114);
  border-radius: 8.75px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: not-allowed;
  margin-right: 10px;
}

.noActivity {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(240, 240, 242);
  border-radius: 8.75px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(114, 178, 114);
  border-radius: 8.75px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: not-allowed;
  margin-right: 10px;
}

.pagination a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
